

<div class="row border rounded-lg pt-3 pb-3 text-center bg-light justify-content-center">
    <div class="col-lg-3">
        <h3><strong>Web Educational Expo</strong></h3>
        <p></p>
        <a class="nav-link bg-light" href="#">About</a>
        <a class="nav-link bg-light" href="#">Contact</a>
        <a class="nav-link bg-light" href="#">Live Events</a>
        <a class="nav-link bg-light" href="#">Upcoming Events</a>
        <a class="nav-link bg-light" href="#">Why Web Educational Expo?</a>
    </div>

    <div class="col-lg-4">
        <h3><strong>Contact Team</strong></h3>
        <p></p>
        <strong class="nav-link ">sales@webexpo.com</strong>
        <strong class="nav-link">marketing@webexpo.com</strong>
        <strong class="nav-link">support@webexpo.com</strong>
        <strong class="nav-link">rfp@webexpo.com</strong>
        <strong class="nav-link">partners@webexpo.com</strong>
    </div>

    <div class="col-lg-3">
        <h3><strong>Exhibit With Us</strong></h3>
        <p></p>
        <a class="nav-link bg-light" href="#">Get A Quote</a>
        <a class="nav-link bg-light" href="#">Request Demo</a>
        <a class="nav-link bg-light" href="#">Promotions</a>
        <a class="nav-link bg-light" href="#">Testimonial</a>
        <a class="nav-link bg-light" href="#">Book You Stall</a>
    </div>
</div>
<footer class="container-fluid text-center bg-light">
    <i class="fa fa-facebook-official p-2" style="font-size: 25px;"></i>
    <i class="fa fa-instagram p-2" style="font-size: 25px;"></i>
    <i class="fa fa-snapchat p-2" style="font-size: 25px;"></i>
    <i class="fa fa-pinterest-p p-2" style="font-size: 25px;"></i>
    <i class="fa fa-twitter p-2" style="font-size: 25px;"></i>
    <i class="fa fa-linkedin p-2" style="font-size: 25px;"></i>
</footer>
<footer class="container-fluid text-center bg-light p-2 pt-1">
    <pre style="font-size: 12px"> © 2021 WebEducationalExpo.com All Rights Reserved <a class="text-dark">(Cookies Policy)</a> <a class="text-dark">(Privacy Policy)</a> </pre>
</footer>