<div id="demo"
     class="carousel slide text-center bg-secondary"
     data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <h1 class="pb-3 text-dark"><b></b></h1>
            </div>
            <img src="~/images/Home-Background-min.png" alt="Exhibition Home" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Home-Background-min.png" alt="Expo Home" />
            <div class="carousel-caption">
                <h1 class="pb-3 text-dark"><b></b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center mt-2 p-2">
    <div class="card border border-secondary">
        <h1 class="text-left pl-5 pr-5">
            HEC EDUCATIONAL EXPO  <span style="float:right;">
                05-July-2021
            </span>
        </h1>
        <h5>This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description</h5>

    </div>
</div>
<!-- Important Links Section Here-->
<div class="row m-2 border-bottom pb-3">
    <div class="col-lg-3 p-2">
        <div class="card border border-secondary">
            <div class="card-body text-center">
                <b> Request Demo </b><br />
                <small>Everything you need to know!</small>
                <br />
                <button class="btn text-white bg-dark m-4">
                    <b> Request Demo </b>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-3 p-2">
        <div class="card border border-secondary">
            <div class="card-body text-center">
                <b> Promotions </b><br />
                <small>Find out about our <wbr /> special offers!</small>
                <br />
                <button class="btn text-white bg-dark m-4"><b> View </b></button>
            </div>
        </div>
    </div>

    <div class="col-lg-3 p-2">
        <div class="card border border-secondary">
            <div class="card-body text-center">
                <b> Testimonials </b><br />
                <small>What customers say <wbr /> about us!</small>
                <br />
                <button class="btn text-white bg-dark m-4"><b> View </b></button>
            </div>
        </div>
    </div>

    <div class="col-lg-3 p-2">
        <div class="card border border-secondary">
            <div class="card-body text-center">
                <b> Book Your Stall </b><br />
                <small>Learn from <wbr />our experts!</small>
                <br />
                <button class="btn text-white bg-dark m-4">
                    <b> Book Now </b>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h2><b> (Brands We Have Worked With) </b></h2>
</div>
<div class="row p-4 justify-content-center text-center">
    <div class="col-lg-2">
        <img src="~/images/dawn.jpg" width="150" height="40" />
    </div>
    <div class="col-lg-2">
        <img src="~/images/express.png" width="150" height="40" />
    </div>
    <div class="col-lg-2">
        <img src="~/images/jang.png" width="150" height="40" />
    </div>
    <div class="col-lg-2">
        <img src="~/images/the news.png" width="150" height="40" />
    </div>
</div>
