@*@using FlightoUs.Model.Enums*@
@{
//bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
//bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
//bool IsUser = User.IsInRole(UserRoleType.User.ToString());
//string typeofUserLogin = "";
//if (IsAdmin)
//{
//    typeofUserLogin = "Admin";
//}
//if (IsManager)
//{
//    typeofUserLogin = "Manager";
//}
//if (IsUser)
//{
//    typeofUserLogin = "User";
//}
}



@section Scripts
{
    <script src="~/js/ExpoAdmin/User/Index.js?v=@DateTime.Now.Ticks.ToString()"></script>
}
<div class="right mT10">
    <a class="btn btn-success btn-sm" asp-action="AddEditUser" asp-controller="Admin" asp-route-id="0" asp-route-Code="" asp-route-Type="">
        <span style="position: relative; top: -5px;"> Create Organizer</span>
        <span class="material-icons mr-1" style="position: relative; top: 3px; width: 20px;">
            add_circle
        </span>
    </a>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Organizers</strong>&nbsp; <span id="spanTotalRecords"></span>
            </div>
            <div class="card-body">

                <div id="div_message" class="note failure">
                    <p>
                        <span id="span_message"></span>
                    </p>
                </div>
                <div class="c1 filter">

                    <div class="right">
                        Search: <input id="txtSearch" style="" type="text" class="form-control search">
                        <a title="Search" style="cursor:pointer; margin-left:5px; " onclick="SearchUsers();"><i class="material-icons " style="position:relative; top:5px;">search</i></a>
                        <a title="Reset" style="cursor:pointer;" onclick="ResetUsers();"><i class="material-icons" style="position:relative; top:5px;">clear</i></a>
                    </div>
                </div>

                <table id="tbl" class="table">
                    <thead>
                        <tr>
                            <th class="gridSortingMenu" scope="col" sortable datafield="firstName" caption="First Name"></th>

                            <th class="gridSortingMenu" scope="col" sortable datafield="lastName" caption="Last Name"></th>

                            <th class="gridSortingMenu" scope="col" sortable datafield="userName" caption="User Name"></th>

                            <th class="gridSortingMenu" scope="col" sortable datafield="email" caption="Email"></th>

                            <th class="gridSortingMenu" scope="col" sortable datafield="telephone" caption="Telephone"></th>


                            <th scope="col" style="width:180px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                @*Show Pager*@

                <div id="div_no_found" class="alert alert-info hide" role="alert">
                    No User Found. Please click on Add User button to add a user.
                    @*This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.*@
                </div>




            </div>
        </div>
    </div>


</div>



<script id="ListTemplateCustomers" type="text/x-jsrender">
    <tr>
        <td>{{:firstName}}</td>
        <td>{{:lastName}}</td>
        <td>{{:userName}}</td>
        <td>{{:email}}</td>
        <td>{{:telephone}}</td>

        <td>
            <a href="/Admin/AddEditUser/{{:id}}" class="text-primary mr-3" style="cursor:pointer;">
                <span class="material-icons">
                    edit
                </span>
            </a>
        </td>
    </tr>


</script>