<!-- Header-->
<header id="header" class="header">
    <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left">
                <span class="material-icons">
                    menu
                </span>
            </a>
        </div>
        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" style="margin-top:8px;">account_circle</i>
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="~/Admin/MyProfile">
                        <span class="material-icons mr-1">account_circle</span>
                        <span>My Profile</span>
                    </a>
                    <a class="nav-link" href="~/Admin/Logout">
                        <span class="material-icons mr-1">login</span>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header-->