@using VirtualExpo.Model.Enums;
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsOrganizer = User.IsInRole(UserRoleType.Organizer.ToString());
    bool IsExhibitor = User.IsInRole(UserRoleType.Exhibitor.ToString());
}
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons">
                    menu
                </span>
            </button>
            <a class="navbar-brand" href="./"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tgdZz-1QQabmaO4FcN30sUjcOHLrKA49Ig&usqp=CAU" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tgdZz-1QQabmaO4FcN30sUjcOHLrKA49Ig&usqp=CAU" alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav" id="navbarlist">
                @if (IsAdmin)
                {
                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="Admin">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a id="aUsers" asp-action="UserIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Organizers</span>
                        </a>
                    </li>

                    <li>
                        <a id="aAttendee" asp-action="AttendeeIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Attendees</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="Exhibitionindex" asp-controller="Admin">
                            <span class="material-icons">
                                museum
                            </span>
                            <span>Exhibition</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="RequestAdmin" asp-controller="Admin">
                            <span class="material-icons">
                                request_page
                            </span>
                            <span>Requests For Organizing Event</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="ExhibitorIndex" asp-controller="Admin">
                            <span class="material-icons">
                                request_page
                            </span>
                            <span>Exhibitors</span>
                        </a>
                    </li>
                    <li>
                        <a id="aContactUs" asp-action="ContactUs" asp-controller="Admin">
                            <span class="material-icons mr-1">contact_page</span>
                            <span>Contact Us</span>
                        </a>
                    </li>
                }
                @if (IsOrganizer)
                {

                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="Organizer">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a id="aUsers" asp-action="UserIndex" asp-controller="Organizer">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Exhibitors</span>
                        </a>
                    </li>

                    <li>
                        <a id="aUsers" asp-action="UserIndex" asp-controller="Organizer">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Attendees</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="Exhibitionindex" asp-controller="Organizer">
                            <span class="material-icons">
                                museum
                            </span>
                            <span>Exhibition</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="ExhibitorIndex" asp-controller="Organizer">
                            <span class="material-icons">
                                request_page
                            </span>
                            <span>Exhibitors</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="RequestOrganizer" asp-controller="Organizer">
                            <span class="material-icons">
                                museum
                            </span>
                            <span>Requests from Exhibitors</span>
                        </a>
                    </li>

                }
                @if (IsExhibitor)
                {

                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="Exhibitor">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a id="aUsers" asp-action="AttendeeIndex" asp-controller="Exhibitor">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Attendees</span>
                        </a>
                    </li>
                }

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- Left Panel -->