<button id="fixedbutton" class="btn bg-success rounded-circle"><span class="material-icons pt-2 text-white" style="font-size:50px;">mark_chat_unread</span></button>

<div id="fixedlogo" class="feature-item">
    <i class="fa fa-facebook-official p-2" style="font-size: 25px;"></i>
    <i class="fa fa-instagram p-2 " style="font-size: 25px;"></i>
    <i class="fa fa-snapchat p-2 " style="font-size: 25px;"></i>
    <i class="fa fa-pinterest-p p-2 " style="font-size: 25px;"></i>
    <i class="fa fa-twitter p-2 " style="font-size: 25px;"></i>
    <i class="fa fa-linkedin p-2" style="font-size: 25px;"></i>
</div>
