
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" style="color: red" onclick="closeNav()">&times;</a>
    <p>------------------------------------</p>
    <a href="#">Pavillon</a>
    <a href="#">Exhibitors</a>
    <a href="#">Sessions</a>
    <a href="#">Info</a>
    <p>------------------------------------</p>
    <a href="#">My Profile</a>
    <a href="#">Logout</a>
    <p>------------------------------------</p>
    <a href="#">Event Organizer</a>
    <a href="#"><img src="the news.png" alt="Event_Organizer's Name" style="width:90%;"></a>

</div>

<div class="row-fluid bg-secondary p-2">

    <div class="col">
        <button class="btn bg-success rounded"><b> <span style="font-size:25px; cursor:pointer; color: white" onclick="openNav()">&#9776; Menu</span></b></button>
    </div>

</div>
