@using VirtualExpo.Bll
@{ 
    int id = ViewBag.ExibitionId;
    BllExhibition bllExhibition = new BllExhibition();
    var Exhibition = bllExhibition.GetByPK(Convert.ToInt32(id));

    BllExhibitorDescription bllExhibitorDescription = new BllExhibitorDescription();
    bllExhibitorDescription.GetAllExhibitorsWithRespectToExhibition(id);
}
@section Styles
{
   <link rel="stylesheet" href="~/css/Exhibition/IndexHome.css?v=@DateTime.Now.Ticks.ToString()"/>
}

<div class="container-fluid">
    <div class="row mt-4 justify-content-center">

        <div class="col-sm-3 feature-item" style="font-size:30px;"> <a asp-action="ExpoBrands" asp-controller="Attendee" asp-route-id="@id"><b><i><u>Brands</u></i></b></a></div>



        <div class="col-sm-3 feature-item" style="font-size:30px;"> <a asp-action="ExpoInfo" asp-controller="Attendee" asp-route-id="@id"><b><i><u>Info</u></i></b> </a></div>

    </div>
    <div class="row mt-4 justify-content-center">

        <div class="col-sm-3 feature-item" style="font-size:30px;"> <a asp-action="ExpoOrganizer" asp-controller="Attendee" asp-route-id="@id" asp-route-OrganizerId="@Exhibition.Organizer_User_Id"><b><i><u>Organizer Profile</u></i></b></a></div>


    </div>
</div>


