@section Styles
{
    <style type="text/css">
        h2 {
            background-color: darkgray;
        }

        body {
            background-color: #eaeded;
        }
    </style>
}
<div class="container rounded bg-light mt-4 mb-5">
    <br>
    <h2 class="text-center p-3 rounded ml-5 mr-5 mb-5"><b> Live | Recent Events </b></h2>
    <div class="container text-center mt-2 p-2 bg-light">
        <div class="card border border-secondary">
            <h1 class="text-left pl-5 pr-5">
                HEC EDUCATIONAL EXPO  <span style="float:right;">
                    (05-July to 08-July) 2021
                </span>
            </h1><br>
            <h5>This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description </h5>
            <span>
                <button class="btn text-white bg-secondary m-5 ">
                    <b> Join Now </b>
                </button>
            </span>
        </div>
    </div>
    <div class="container text-center mt-2 p-2 bg-light">
        <div class="card border border-secondary">
            <h1 class="text-left pl-5 pr-5">
                HEC EDUCATIONAL EXPO  <span style="float:right;">
                    (05-July to 08-July) 2021
                </span>
            </h1><br>
            <h5>This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description </h5>
            <span>
                <button class="btn text-white bg-secondary m-5">
                    <b> Join Now </b>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="container rounded bg-light mt-5 mb-5">
    <br>
    <h2 class="text-center p-3 rounded ml-5 mr-5 mb-5"><b> Upcoming Events </b></h2>
    <div class="container text-center mt-2 p-2 bg-light">
        <div class="card border border-secondary">
            <h1 class="text-left pl-5 pr-5">
                HEC EDUCATIONAL EXPO  <span style="float:right;">
                    (05-July to 08-July) 2021
                </span>
            </h1><br>
            <h5>This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description </h5>
            <span>
                <button class="btn text-white bg-secondary m-5 ">
                    <b> Register Now </b>
                </button>
            </span>
        </div>
    </div>
    <div class="container text-center mt-2 p-2 bg-light">
        <div class="card border border-secondary">
            <h1 class="text-left pl-5 pr-5">
                HEC EDUCATIONAL EXPO  <span style="float:right;">
                    (05-July to 08-July) 2021
                </span>
            </h1><br>
            <h5>This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description This is Expo's Description </h5>
            <span>
                <button class="btn text-white bg-secondary m-5">
                    <b> Register Now </b>
                </button>
            </span>
        </div>
    </div>
</div>